$black: #000000;
$red: #580300;
@font-face {
  font-family: 'TT Travels';
  src: url('../fonts/TT_Travel/TTTravels-Medium.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'Schnyder X Condensed';
  src: url('../fonts/Schnyder_X_Condensed/Schnyder_X_Cond_L_Demi.otf')
    format('truetype');
  font-style: normal;
  font-weight: bold;
}

body {
  background-image: url(../images/vector.png);
  background-repeat: no-repeat;
  background-position: top;
  cursor: url(../images/Ellipse.png), pointer;
  overflow-x: hidden;
}
.top {
  display: flex;
  justify-content: space-between;
  margin: 43px;

  .top__logo {
    font-family: GT America;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: -1px;
    color: #000000;

    transition: all 0.1s ease;
    animation-name: logo-anime;
    animation-duration: 4000ms, 1ms;
    @keyframes logo-anime {
      0% {
        color: #000000;
      }
      25% {
        // color: #910905;
      }
      50% {
        color: #750602;
        font-size: 30px;
      }

      100% {
        // color: #000000;
      }
    }
  }

  .top__menu {
    display: block;
    transition: all 0.1s ease;
    animation-name: top-anime;
    animation-duration: 3500ms, 1ms;
    @keyframes top-anime {
      0% {
        padding-right: 90%;
      }
      50% {
      }
      100% {
      }
    }
    @media (max-width: 600px) {
      display: none;
    }

    ul {
      list-style-type: none;
    }

    li {
      margin: 10px 0px;
    }

    a {
      color: $black;
      text-decoration: none;
      font-family: TT Travels;
      font-style: normal;
      font-weight: 300;
      font-size: 12px;
      line-height: 14px;
      text-align: right;
      letter-spacing: 0.02em;
      text-transform: capitalize;
      transition: 2s;
      margin-right: 10px;
    }

    a:hover {
      color: #580300;
      border-bottom: 2px solid #580300;
      transition: 1s;
      font-size: 14px;
      line-height: 12px;
      margin-right: 0px;
      font-style: bold;
    }
  }
}

// Мобильное меню
.burger-button {
  position: relative;
  top: 2vh;
  right: 2vh;
  z-index: 9;
  padding: 8px;
  // margin: 43px;
  @media (min-width: 600px) {
    display: none;
  }
}
/*this is where you can chand the color of the buttons*/
.burger-button span {
  width: 40px;
  border: 2px solid black;
  background-color: black;
  display: block;
  border-radius: 22px;
  transition: 2s;
}
.burger-button.active span {
  border-color: green;
  background-color: #383;
}

.burger-top,
.burger-bottom {
  position: absolute;
}

.burger-top {
  top: -02px;
}

.burger-bottom {
  bottom: -02px;
}
/* make sure this has the same top as the burger button has padding*/
.burger-button.active .burger-top {
  position: absolute;
  top: 8px;
  transform: rotateZ(45deg);
}

.burger-button.active .burger-middle {
  /*   transform: rotateZ(270deg); */
  border-color: rgba(0, 0, 0, 0);
  background-color: rgba(0, 0, 0, 0);
}

/* make sure this has the same bottom as the burger button has padding*/

.burger-button.active .burger-bottom {
  position: absolute;
  bottom: 8px;
  transform: rotateZ(-45deg);
}

.burger-menu {
  display: flex;
  position: fixed;
  top: -100vh;
  left: 0;
  right: 0;
  bottom: 100vh;
  background-color: #f9f9f9;
  padding: 5px;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.1);
  z-index: 8;
  transition: 1s;
  align-content: space-around;
  justify-content: space-around;
  flex-direction: column;
}
.burger-menu.active {
  top: 0;
  bottom: 0;
}
.burger-menu a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 300;
  color: #c3bfbc;
  font-family: 'Alegreya Sans SC', sans-serif;
  display: block;
  padding: 5px 15px;
  text-align: center;
  white-space: nowrap;
}

.underline {
  border: 2px solid transparent;

  &::after {
    width: 0%;
    height: 2px;
    display: block;
    background-color: rgb(207, 25, 25);
    content: ' ';
    position: absolute;
    top: 34px;
    left: 50%;
    transition: left 1.4s cubic-bezier(0.215, 0.61, 0.355, 1),
      width 1.4s cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  &:hover {
    &::after {
      width: 100%;
      height: 2px;
      display: block;
      background-color: rgb(22, 21, 21);
      content: ' ';
      position: absolute;
      top: 34px;
      left: 0;
    }
  }
}
