@charset "UTF-8";
/* Slider */
.slick-loading .slick-list {
  background: #fff url('./ajax-loader.gif') center center no-repeat;
}

/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  width: 13px;
  height: 22px;
  padding: 0;
  cursor: pointer;
  border: none;
  outline: none;
}

.slick-prev:before,
.slick-next:before {
  position: relative;
  left: -7px;
  bottom: -10px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  background: url(../img/arrow-prev.png) no-repeat;
}

.slick-next {
  background: url(../img/arrow-next.png) no-repeat;
}

.slick-prev {
  left: -2%;
}

[dir='rtl'] .slick-prev {
  right: -25px;
  left: auto;
}

.slick-next {
  right: -25px;
}

[dir='rtl'] .slick-next {
  right: auto;
  left: -25px;
}

/* Dots */
.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  bottom: -45px;
  display: block;
  width: 100%;
  padding: 0;
  list-style: none;
  text-align: center;
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
}

.slick-track:before,
.slick-track:after {
  display: table;
  content: '';
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}

[dir='rtl'] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

html,
body,
.slider-programs-container {
  margin: 0;
  padding: 0;
}

body {
  /*background: red;*/
}

.slider-programs-container {
  margin-top: 30px;
  // outline: 2px solid red;
  position: relative;
  top: -500px;
  z-index: 7;

  @media (max-width: 1400px) {
    top: -515px;
  }

  @media (max-width: 1070px) {
    top: -590px;
  }
  @media (max-width: 600px) {
    top: -460px;
  }
}

.slider-programs .slick-arrow {
  display: none !important;
}

.slider-programs img {
  margin: auto;
}

.initiatives-slider {
  width: 100%;
  position: absolute;
  opacity: 0;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  cursor: default;
}

.initiatives-slider.active {
  opacity: 1;
  z-index: 1;
}

.slider-div {
  width: 800px;
  margin: auto;
}

.initiatives-slider .icon {
  display: inline-block;
  margin-top: 120px;
}

.initiatives-slider .slick-prev {
  position: absolute;
  z-index: 1000;
  top: 25px;
  left: 29%;
}

.initiatives-slider .slick-next {
  position: absolute;
  z-index: 1000;
  top: 25px;
  right: 29.5%;
}

.slick-dots {
  position: absolute;
  top: 86px;
  left: -4px;
  z-index: 100000;
  bottom: auto;
}

.slider-programs-container div:focus {
  outline: none;
}

.icon {
  margin: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  // max-width: 528px;
  max-width: 609px;
  height: 250px;

  @media (max-width: 1400px) {
    max-width: 466px;
  }
  @media (max-width: 1080px) {
    max-width: 466px;
  }
  @media (max-width: 600px) {
    max-width: 233px;
  }
}

.icon-1HPB {
  background-image: url(../images/text.png);
  // max-width: 809px;
}
.icon-2FME {
  background-image: url(../images/text.png);
  // max-width: 809px;
}
.icon-3ADRE {
  background-image: url(../images/text.png);
  // max-width: 809px;
}

// .icon-arrow-next {
//   background-image: url(https://goo.gl/vmxeWN);
//   background-position: -2073px -1800px;
//   width: 13px;
//   height: 22px;
// }
// .icon-arrow-prev {
//   background-image: url(https://goo.gl/vmxeWN);
//   background-position: -2060px -1800px;
//   width: 13px;
//   height: 22px;
// }

// .slider-people {
//   margin: 300px auto 0;
//   width: 730px;
// }

// .slider-people .slick-dots {
//   width: 1000px;
//   top: -280px;
//   left: -138px;
// }

div:focus {
  outline: none;
}
